 <%= content_for(:navbar_class, "navbar-home") %>

 <div class="banner">
  <div class="banner-content text-center">
    <h1><%= t('index.title') %></h1>
    <p>Le Shoper brings technical skills to creative people</p>
    <%#= link_to "Start now", new_user_session_path, class: "btn btn-lg btn-primary"  %>
  </div>
</div>
<div class="content">
  <div class="cards">
    <% @shops.each do |shop| %>
      <%= link_to shop_path(shop) do %>
        <div class="card" style="background-image:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(https://source.unsplash.com/1600x900/?shop,brand,store)">
          <h3 style="text-align:center"><%= shop.name %></h3>
          <%# shop.opening_hours.each do |opening_hour| %>
            <%#= opening_hour.day %>
          <%# end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
