<div class="navbar-wagon <%= yield(:navbar_class) %>" data-controller="navbar"
  data-action="scroll@window->navbar#updateNavbar">
  <!-- NAVBAR CONTENT -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "logo.png" %>
  <% end %>
</div>
